{% extends "base.html" %}
{% block page_content %}
<h2>{{ current_user.username.title() }}'s Contacts</h2>
{% if contacts %}
	<form action="" method="post" name="contact_list">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>First</th>
					<th>Last</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Frequency</th>
					<th>Last Contact</th>
					<th>Next Contact</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			{% for contact in contacts %}
				<tr>
					<td>
						<a class="" href="{{ url_for('cont.contact_view', contact_id=contact.id) }}">
						{{ contact.id }}
						</a>
					</td>
					<td>
						{{ contact.first.title() }}
					</td>
					<td>
						{{ contact.last.title() }}
					</td>
					<td class="col-nowrap">
						{% if contact.phone %}
						{{ contact.phone }}
						{% else %}
						None	
						{% endif %}
					</td>
					<td>
						{% if contact.email %}
						<a href="mailto:{{ contact.email }}">Email</a>
						{% else %}
						None
						{% endif %}
					</td>
					<td>
						{{ contact.frequency }}
					</td>
					<td>
						{{ contact.last_contact }}
					</td>
					<td>
						{{ contact.next_contact }}
					</td>
					<td class="col-wrap">
						{% if contact.notes %}
						{{ contact.notes }}
						{% else %}
						None	
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	<a class="button button-add" href="{{ url_for('cont.new_contact') }}">Add Contact</a>
	<a class="button button-add" href="{{ url_for('cont.check_next_contact_date') }}">Check Dates</a>
	<br>
	</form>
{% else %}
	<h3 class="no-content">All Caught Up!</h3>
{% endif %}
{% endblock %}
