/* ---------------------------------------------- */
/* ---Color Variables---------------------------- */
/* ---------------------------------------------- */
:root {
	--gumbo: #5F8884;
	--just_right: #E0BEB1;
	--scorpion: #78656C;
	--deep_fir: #043A14;
	--black_pearl: #002033;
	--black_pearl_complement: #331300;
	--light_gray_cyan: #ebf4f7;
	--off_white: #F9F5EC;
	--off_white_complement: #EBEFF7;
	--hover_orange: #c05139;
	--alert_yellow: #FFE368;
	--danger_red: #B83A3A;
	
}

/* ---------------------------------------------- */
/* ---Core--------------------------------------- */
/* ---------------------------------------------- */
body {
	background-color: var(--off_white);	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
	margin: 0;
	/* text-align: center; */
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

/* ---Header----------------------------------- */
.header {
	background-color: var(--off_white_complement);
	padding: 1em;
}

/* ---Nav-------------------------------------- */
nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	padding: 0 1em;
}

.nav-link {
	color : var(--black_pearl);
	text-decoration: none;
}

.nav-link:hover {
	color: var(--hover_orange);
}

/* ---Main------------------------------------- */
.main {
	min-height: 100%;
}

/* ---Footer----------------------------------- */
.footer {
	background-color: var(--off_white_complement);
	bottom: 0;
	color : var(--black_pearl);
	padding: 0.5em;
	position: fixed;
	text-align: center;
	width: 100%;
}

/* -------------------------------------------- */
/* ---Components------------------------------- */
/* -------------------------------------------- */

/* ---Alert------------------------------------ */
.alert {
	background-color: var(--alert_yellow);
	border: 2px solid var(--black_pearl);
	border-radius: 4px;
	display: flex;
	font-size: 16px;
	padding: 1em;
	width: 50%;
}

/* ---Button----------------------------------- */
.button {
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 14px;
	padding: 1em;
	text-decoration: none;
	width: 10%;
}

.button-add {
	background-color: var(--black_pearl);
}

.button-danger {
	background-color: var(--danger_red);
}

.button:visited {
	color: white;
}

.button-delete {
	background-color: red;
}

/* ---Form------------------------------------- */
form {
	box-sizing: border-box;
	border-radius: 1rem;
	display: grid;
	font-family: Arial, Helvetica, sans-serif;
	gap: 2rem;
	grid-template-columns: 1fr;
	padding: 2rem;
	text-align: left;
}

/* ---Input------------------------------------ */
input[type=text], input[type=number], input[type=password], textarea {
	border: 1px solid var(--black_pearl);
	border-radius: 4px;
	box-sizing: border-box;
	display: flex;
	font-size: 16px;
	padding: 1em;
	width: 25%;
}

/* ---Table------------------------------------ */
table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	padding: 6px;
	text-align: left;
}

th {
	background-color: var(--light_gray_cyan);
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: var(--light_gray_cyan);
}

.col-nowrap {
	white-space: nowrap;
}

/* ---Description Details---------------------- */
dt {
	font-weight: bold;
}


/* ---------------------------------------------- */
/* ---Page Specifics----------------------------- */
/* ---------------------------------------------- */


/* ---User Profile------------------------------- */
div .profile-section {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: start;
	justify-items: center;
	padding-left: 1em;
	text-align: left;
}

.col-2 h1 {
	padding: 0;
}

.col-2 p {
	padding: 0.5rem 0;
}

.col-2 .button-wrapper {
	padding: 1em 0;
}

div .about-me {
	line-height: 26px;
	max-width: 670px;
}

/* -------------------------------------------- */
/* ---Responsive Settings---------------------- */
/* -------------------------------------------- */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		border: none;
		border-bottom: 1px solid;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Contact Id"; }
	td:nth-of-type(2):before { content: "First Name"; }
	td:nth-of-type(3):before { content: "Last Name"; }
	td:nth-of-type(4):before { content: "Phone"; }
	td:nth-of-type(5):before { content: "Email"; }
	td:nth-of-type(6):before { content: "Frequency"; }
	td:nth-of-type(7):before { content: "Last Contact"; }
	td:nth-of-type(8):before { content: "Next Contact"; }
	td:nth-of-type(9):before { content: "Notes"; }

}
