{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

<div class="page-header">
    <h1>Hello, {% if name %}{{ name.title() }}{% else %}Stranger!{% endif %}</h1>
    {% if not known %}
    <p>Pleased to meet you {{ name.title() }}!</p>
    {% else %}
    <p>Happy to see you again {{ name.title() }}!</p>
    {% endif %}
</div>
<hr>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {% if form.name.errors %}
        {{ form.name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
      {{ form.name(class="form-control form-control-lg") }}
    {% endif %}
    {{ form.submit(class="button button-add") }}
</form>
{% endblock %}